.description {
  position: relative;
  padding: 180px 88px 140px 88px;
  background-color: black;
  color: var(--color-main);
  z-index: 20;
  padding-bottom: 35vh;

  @media (max-width: 768px) {
    width: 100%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 200px;
  margin-top: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 32px;
  }
}

.button {
  width: "fit-content";
  display: flex;
}

.leftSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 124px;

  @media (max-width: 768px) {
    gap: 32px;
    align-items: start;
    justify-self: start;
  }
}

.rightSection {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  @media (max-width: 768px) {
    justify-content: flex-start;
    text-align: left;
    width: 100%;
  }
}

.flip {
  display: block;
  width: 100%;
  overflow: visible;
  white-space: normal;
  word-break: break-word;
  text-align: left;

  @media (max-width: 768px) {
    display: block;
    min-height: 3.5em; // prevent the shifting of the component when text is too long
  }
}
