.description {
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 180px;
  padding-bottom: 140px;
  background-color: black;
  color: white;
  z-index: 20;
  position: relative;

  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 200px;
    margin-top: 24px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  .left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .right {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;

    @media (max-width: 768px) {
      justify-content: flex-start;
      text-align: left;
    }
  }
}
