.headerWrapper {
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: var(--color-main);
  // width: 100%;
}

.headerText {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  position: relative;
  z-index: 1;
  cursor: none;

  @media (max-width: 768px) {
    padding-top: 20px;
    padding-left: 10px;
  }
}

.menu {
  z-index: 500;
  position: fixed;
  top: 100%;
  overflow: hidden;
  background-color: var(--color-secondary);
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: default;

  .expandableButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    border-radius: 25px;
    gap: 12px;
    color: var(--color-main);

    .burger {
      width: 24px;
      position: relative;
      pointer-events: none;
    }

    .burger::after,
    .burger::before {
      content: "";
      height: 2px;
      width: 100%;
      background-color: var(--color-main);
      position: relative;
      display: block;
      transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .burger::after {
      top: -4px;
    }

    .burger::before {
      top: 4px;
    }

    .burgerActive::after {
      transform: rotate(45deg);
      top: -1px;
    }

    .burgerActive::before {
      transform: rotate(-45deg);
      top: 1px;
    }
  }
}

.menuContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  height: 90%;

  .body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: var(--color-main);
    }
  }

  .links {
    padding-top: 100px;
  }

  .menuContentFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px 24px;
    color: var(--color-main);
  }

  @media (max-width: 768px) {
    .links {
      margin-top: 100px;
    }
  }
}
