.copyrights {
  text-align: right;
  margin-top: 32px;
}

.footerContainer {
  position: relative;
  height: 800px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.footerContent {
  position: relative;
  height: calc(100vh + 800px);
  top: -100vh;
}

.footer {
  height: 800px;
  position: sticky;
  top: calc(100vh - 800px);
}

.footerSections {
  background: var(--color-accent);
  padding: 2rem 3rem;
  height: 100%; // important to have to make the sticky footer takes the bottom space
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
