:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main: #f5f1e6;
  --color-secondary: #78736c;
  --color-accent: #a8d08d;
  --color-text: #1c1c1c;
}

@font-face {
  font-family: "Roslindale Deck Narrow";
  src: url("/fonts/Roslindale-DeckNarrowItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f7f6f3;
  /* overflow-x: hidden; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: #a8d08d;
}

/* * {
  outline: 1px solid red;
} */
