:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main: #f5f1e6;
  --color-secondary: #78736c;
  --color-accent: #a8d08d;
  --color-text: #1c1c1c;
}

@font-face {
  font-family: "Roslindale Deck Narrow";
  src: url("/fonts/Roslindale-DeckNarrowItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: visible;
  box-sizing: border-box;
  background-color: #f7f6f3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: #a8d08d;
}

.colors {
  --color-primary: #a8d08d; /* matcha */
  --color-accent: #7a9b60; /* brighter matcha pop */
  --color-muted: #eae8e1;

  --color-bg: #f5f1e6; /* latte */
  --color-surface: #e6e2d9; /* slightly darker latte */
  --color-border: #d3cec4;
  --color-text: #3e3a36;
  --color-subtext: #78736c;
  --color-muted-text: #a59f98;

  --color-success: #8ca984;
  --color-warning: #d8b36f;
  --color-error: #c07676;
  --color-info: #9cb8c3;
  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-shadow: rgba(0, 0, 0, 0.08);

  --color-on-primary: #ffffff;
  --color-on-accent: #ffffff;
  --color-on-surface: #3e3a36;
}
