:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roslindale Deck Narrow";
  src: url("/fonts/Roslindale-DeckNarrowItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: visible;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
