.appContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  cursor: none;
  position: relative;
  background-color: var(--color-main);
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vw;
}

.endSection {
  background-color: var(--color-text);
  color: var(--color-main);
}

.edgeContainer {
  position: relative;
  margin-top: 100px;
  height: 120px;
  width: 100%;
  // margin-top: 100px;
}

.edgeBottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  z-index: 10;
  background-color: black;

  // Creates the angled effect
  // clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
}
