.appContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  cursor: none;
  position: relative;
  background-color: var(--color-main);
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vw;
}

.endSection {
  background-color: var(--color-accent);
}
