.appContainer {
  display: flex;
  flex-direction: column;
  cursor: none;
  position: relative;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}
