.introSectionContainer {
  background-color: white;
  z-index: 1;
  height: auto;
  padding-bottom: 180px;
  padding-top: 60px;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
