.introSectionContainer {
  background: #f7f6f3;
  z-index: 1;
  padding-bottom: 120px;
  padding-top: 50px;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 80px;
  }
}
