.introSectionContainer {
  background: var(--color-main);
  color: var(--color-text);
  z-index: 1;
  padding-bottom: 140px;
  padding-top: 50px;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 80px;
  }
}
