.cursor {
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #a8d08d;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;

  @media (max-width: 768px) {
    display: none;
  }
}
