.toolsSection {
  width: 100%;
  padding: 100px 88px;
  background-color: var(--color-text);
  color: var(--color-main);
  z-index: 20;
  position: relative;

  @media (max-width: 768px) {
    padding: 2rem; // mobile padding
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 80px;
  }
}

.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.toolsCard {
  padding: 40px 20px;
  background-color: var(--color-main);
  color: var(--color-text);
}

.titles {
  flex: 1;
  border-top: 1px solid rgba(183, 171, 152, 0.25);

  .title {
    border-bottom: 1px solid rgba(183, 171, 152, 0.25);
    position: relative;

    .wrapper {
      display: inline-block;
      padding-left: 10%;

      p {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 4vw;
        line-height: 7.5vw;
        margin: 0;
        position: relative;

        &:nth-of-type(2) {
          display: block;
          position: absolute;
          color: var(--color-text);
          top: 0;
          z-index: 1;
        }
      }
    }

    @media (max-width: 768px) {
      padding-top: 8px;
    }
  }

  @media (max-width: 768px) {
    align-self: normal;
  }
}
