.animateTextContainer {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  vertical-align: bottom;
}

.text {
  display: inline-block;
  white-space: pre;
}

.typeCursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  margin-left: 4pm;
  vertical-align: text-bottom;
  background-color: var(--color-accent);
}
