.animateTextContainer {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  vertical-align: bottom;
}

.text {
  display: inline-block;
  white-space: pre;
}

.typeCursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  margin-left: 4pm;
  vertical-align: text-bottom;
  background-color: var(--color-accent);
}

.underline {
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--color-accent);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
}
